<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Algebra</title>
</head>
<body>
<h1>The Algebra PhoneBook</h1>
<img id="banner" src="http://10.30.0.150:5000/static/banner.jpg">
<h2> About the algebra phonebook</h2>
<div id="container" >

<p class="body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
<h2>Register you Interests</h2>
<p class="body-text">TODO - Show registration here</p>
<div id = "register">
<button>Register</button>
    </div>

<p>Copy Right 2023 James Anderson</p>
</body>
</html>